# Compiled Python files
*.pyc
__pycache__/

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE files and directories
.vscode/
.idea/
*.code-workspace

# Environment files
.env
.env.*
venv/
ENV/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe
*.out
*.class

# Other temporary files
*.log
*.swp
*~